@import "tailwindcss";
@plugin "daisyui";



body {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

:root {
  --color-primary: #F9F8F5;   
  --color-secondary: #202023; 
  --color-accent: #20202399;    
  --color-background: #f8fafc;
  --color-text: #0f172a;     
}
